@model Joao.Ana.Modas.App.Models.Movimentacoes.RegistrarPedidoViewModel

@{
    ViewData["Title"] = "Registrar Pedido";   
}

<div class="row text-center">
    <div class="col-md-12">
        <h1>Pedido</h1>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"> <i class="fas fa-home"></i> &nbsp; Home</a></li>
                <li class="breadcrumb-item"><a asp-action="RegistrarPedido" asp-controller="Movimentacoes">@ViewData["Title"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pedido</li>
            </ol>
        </nav>
    </div>
</div>

<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

@if (Model.Pedido is not null && Model.Pedido.ClienteAnonimo)
{

    <p>This is some text within a card body.</p>

}
else if (Model.Pedido is not null && Model.Pedido.ClienteId is not null)
{
    <p>This is some text within a card body.</p>
}
else
{
    <div class="card mb-3 mt-3">
        <div class="card-header">
            Escolha o Cliente
        </div>
        <div class="card-body">

            <form asp-action="DefinirCliente" asp-controller="Movimentacoes" method="post">

                @Html.HiddenFor(m => m.PedidoId)

                <div class="mb-3 row">

                    <div class="col-md-6">
                        <select asp-for="Pedido.Cliente.Id" asp-items="ViewBag.Clientes" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col-md-3">                       
                          
                        <a asp-controller="Clientes" asp-action="Novo" class="btn btn-info">
                            <i class="far fa-file-alt"></i> &nbsp;
                            Novo Cliente
                        </a>

                    </div>

                    <div class="col-md-3">

                        <button type="submit" class="btn btn-primary">
                            <i class="far fa-file-alt"></i> &nbsp;
                            Próximo
                        </button>

                    </div>


                </div>

            </form>

        </div>
    </div>

}



<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        Num de Itens: <strong><span class="span_numero_itens">@Model.NumeroItens</span></strong>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        Quantidade de Itens: <strong><span class="span_quantidade_itens"> @Model.QuantiadeItens</span></strong>
                    </div>
                </div>
            </div>

           

        </div>
    </div>
</div>

<form id="incluir_produto" class="incluir_produto">

    <div asp-validation-summary="All" class="text-danger">
    </div>

    @Html.HiddenFor(m => m.PedidoId)

    <div class="row">
        <div class="col-md-12">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header">Incluir Produto no Pedido</div>
                        <div class="card-body">

                            @Html.HiddenFor(m => m.Produto.ProdutoId)

                            <div class="mb-3 row">

                                <div class="col-md-4">
                                    <label asp-for="Produto.Nome" class="col-form-label"></label>
                                    <input asp-for="Produto.Nome" class="form-control" />

                                    <span asp-validation-for="Produto.Nome" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="Produto.PrecoVenda" class="col-form-label"></label>
                                    <input asp-for="Produto.PrecoVenda" class="form-control money">
                                    <span asp-validation-for="Produto.PrecoVenda" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-4">
                                    <label asp-for="Produto.CorId" class="col-form-label"></label>
                                    <select asp-for="Produto.CorId" asp-items="ViewBag.Cores" class="form-control"></select>
                                    <span asp-validation-for="Produto.CorId" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="Produto.TamanhoId" class="col-form-label"></label>
                                    <select asp-for="Produto.TamanhoId" asp-items="ViewBag.Tamanhos" class="form-control"></select>
                                    <span asp-validation-for="Produto.TamanhoId" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="Produto.Quantidade" class="col-form-label"></label>
                                    <input asp-for="Produto.Quantidade" class="form-control">
                                    <span asp-validation-for="Produto.Quantidade" class="text-danger"></span>
                                </div>

                                <div class="col-md-3 d-flex align-items-end">
                                    <div class="d-grid gap-2">
                                        <button type="button" class="btn btn-dark btn-adicionar-item btn-add-item-produto"><i class="fa-solid fa-spell-check"></i> Adicionar </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">Itens Inclusos</div>
            <div class="card-body">

                <div row>
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <strong>Item: </strong> <span class="span_item_produto"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Cor: </strong> <span class="span_cor"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Tam: </strong> <span class="span_tamanho"></span>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <strong>Preço Unitário: </strong> R$ <span class="span_preco_unitario"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Quantidade: </strong> <span class="span_quantidade"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Total: </strong> R$ <span class="span_valor_total"></span>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <button type="button" class="btn btn-info btn-sm btn_remover_item" id_item_produto=""><i class="fa-regular fa-trash-can"></i> Remover</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <p><strong>Registro(s): 23</strong></p>



                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <form method="Post" action="ConfirmarPedido">

                            @Html.HiddenFor(m => m.Confirmar.PedidoId)

                            <button type="submit" class="btn btn-primary">
                                <i class="far fa-save"></i>
                                Confirmar Pedido
                            </button>

                        </form>

                        <form method="Post" action="CancelarPedido">

                            @Html.HiddenFor(m => m.Cancelar.PedidoId)

                            <button type="submit" class="btn btn-warning">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>

                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>


        $(document).ready(function () {

            $(function () {
                let _maxResults = 20;

                $("#Produto_Nome").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("ObterProdutos", "Produtos")',
                            data: { filtro: $.trim(request.term), limite: _maxResults },
                            success: function (data) {
                                if (data.length === 0) {
                                    $("#Produto_ProdutoId").val('');
                                }

                                response(data);
                            }
                        });
                    },
                    minLength: 3,
                    maxResults: _maxResults,
                    select: function (event, ui) {
                        $("#Produto_Nome").val(ui.item.label);
                        $("#Produto_ProdutoId").val(ui.item.value);

                        return false;
                    }
                });
            });

            $(function () {
                let _maxResults = 20;

                $("#Cliente_Nome").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("ObterClientes", "Caixa")',
                            data: { filtro: request.term, limite: _maxResults },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 3,
                    maxResults: _maxResults,
                    select: function (event, ui) {
                        $("#Cliente_Nome").val(ui.item.label);
                        $("#Cliente_Id").val(ui.item.value);
                        return false;
                    }
                });
            });

            $(".btn-add-item-produto").click(function () {
                $("#submit_button").addClass("disabled").prop("disabled", true);

                if (validarCampoVazio("#Produto_Nome") && validarCampoNumerico("#Produto_PrecoVenda") && validarCampoNumerico("#Produto_Quantidade")) {
                    addProduto();
                }

                $("#submit_button").removeClass("disabled").prop("disabled", false);
            });

            function validarCampoVazio(campoSelector, mensagemErro = "O campo é obrigatório.") {
                var campo = campoSelector.replace('#', '').replace('_', '.');
                if ($(campoSelector).val() === "") {
                    $(`span[data-valmsg-for='${campo}']`).text(mensagemErro).addClass("text-danger");
                    return false;
                } else {
                    $(`span[data-valmsg-for='${campo}']`).text("").removeClass("text-danger");
                    return true;
                }
            }

            function validarCampoNumerico(campoSelector, mensagemErroVazio = "O campo é obrigatório.", mensagemErroValor = "O valor deve ser maior ou igual a zero.") {
                var valor = parseFloat($(campoSelector).val());
                var campo = campoSelector.replace('#', '').replace('_', '.');

                if ($(campoSelector).val() === "") {
                    $(`span[data-valmsg-for='${campo}']`).text(mensagemErroVazio).addClass("text-danger");
                    return false;
                } else if (isNaN(valor) || valor < 0) {
                    $(`span[data-valmsg-for='${campo}']`).text(mensagemErroValor).addClass("text-danger");
                    return false;
                } else {
                    $(`span[data-valmsg-for='${campo}']`).text("").removeClass("text-danger");
                    return true;
                }
            }

            function addProduto() {
                var data = getDataProdutoItem();

                $.ajax({
                    url: '/Movimentacoes/AdicionarProdutoPedido',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {

                        console.log('Pedido salvo com sucesso:', response);
                        console.log(response);

                        preencherHtmlQuantitativo(response.numeroItens, response.quantidadeItens, response.valorTotal);
                        preencherHTMLProdutos(response.pedido.produtosPedido);


                    },
                    error: function (xhr, status, error) {
                        console.error('Erro ao salvar pedido:', error);
                    }
                });
            }

            function getDataProdutoItem() {
                var data = {
                    Nome: $('#Produto_Nome').val(),
                    PrecoVenda: $('#Produto_PrecoVenda').val(),
                    Quantidade: $('#Produto_Quantidade').val(),
                    CorId: $('#Produto_CorId').val(),
                    TamanhoId: $('#Produto_TamanhoId').val(),
                    PedidoId: $('#PedidoId').val(),
                    ProdutoId: $('#Produto_ProdutoId').val()
                };

                return data;
            }

            function preencherHTMLProdutos(produtos) {
                console.log("quantidae de produtos" + produtos.length);
            }

            function preencherHtmlQuantitativo(numeroItens, quantidadeItens, valorTotal) {
                $(".span_numero_itens").text(numeroItens);
                $(".span_quantidade_itens").text(quantidadeItens);
                $(".span_valor_total").text(valorTotal);

                console.log(numeroItens + " : " + quantidadeItens + " : " + valorTotal);
            }

        });
    </script>
}
