@model Joao.Ana.Modas.App.Models.Caixa.PedidoViewModel

@{
    ViewData["Title"] = "Caixa";

    Model.Confirmar.PedidoId = Model.Id;
}

<div class="row text-center">
    <div class="col-md-12">
        <h1>Pedido</h1>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"> <i class="fas fa-home"></i> &nbsp; Home</a></li>
                <li class="breadcrumb-item"><a asp-action="Pedido" asp-controller="Caixa">@ViewData["Title"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Pedido</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Num de Itens: <strong>@Model.NumeroItens</strong></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Quantidade de Itens: <strong>@Model.QuantiadeItens</strong></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Valor Total: <strong>R$ @Model.TotalValor.ToString("N2")</strong></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<form asp-action="ProdutoPedido" method="post">

    <div asp-validation-summary="All" class="text-danger">
    </div>

    @Html.HiddenFor(m => m.Id)

    <div class="row">
        <div class="col-md-12">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header">Incluir Produto no Pedido</div>
                        <div class="card-body">

                            @Html.HiddenFor(m => m.Produto.ProdutoId)

                            <div class="mb-3 row">

                                <div class="col-md-4">
                                    <label asp-for="Produto.Nome" class="col-form-label"></label>
                                    <input asp-for="Produto.Nome" class="form-control" />

                                    <span asp-validation-for="Produto.Nome" class="text-danger"></span>

                                </div>

                                <div class="col-md-3">
                                    <label asp-for="Produto.PrecoVenda" class="col-form-label"></label>
                                    <input asp-for="Produto.PrecoVenda" class="form-control money">
                                    <span asp-validation-for="Produto.PrecoVenda" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="mb-3 row">


                                <div class="col-md-4">
                                    <label asp-for="Produto.CorId" class="col-form-label"></label>
                                    <select asp-for="Produto.CorId" asp-items="ViewBag.Cores" class="form-control"></select>
                                    <span asp-validation-for="Produto.CorId" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="Produto.TamanhoId" class="col-form-label"></label>
                                    <select asp-for="Produto.TamanhoId" asp-items="ViewBag.Tamanhos" class="form-control"></select>
                                    <span asp-validation-for="Produto.TamanhoId" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="Produto.Quantidade" class="col-form-label"></label>
                                    <input asp-for="Produto.Quantidade" class="form-control">
                                    <span asp-validation-for="Produto.Quantidade" class="text-danger"></span>
                                </div>

                                <div class="col-md-3 d-flex align-items-end">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-dark btn-adicionar-item"><i class="fa-solid fa-spell-check"></i> Adicionar </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header">Indentificação do Cliente</div>
                        <div class="card-body">

                            @Html.HiddenFor(m => m.Cliente.Id)

                            <div class="mb-3 row">

                                <div class="col-md-4">
                                    <label asp-for="Cliente.Nome" class="col-form-label"></label>
                                    <input asp-for="Cliente.Nome" class="form-control" />

                                    <span asp-validation-for="Cliente.Nome" class="text-danger"></span>

                                </div>

                                @*
                                <div class="col-md-6">
                                <label asp-for="ClienteId" class="col-form-label"></label>
                                <select asp-for="ClienteId" asp-items="ViewBag.Clientes" class="form-control"></select>
                                <span asp-validation-for="ClienteId" class="text-danger"></span>
                                </div> *@

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">Itens Inclusos</div>
            <div class="card-body">

                @if (Model is not null && Model.ProdutosPedido is not null && Model.ProdutosPedido.Any())
                {
                    int _numeroRegistros = Model.ProdutosPedido.Count();
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Cor</th>
                                <th scope="col">Tamanho</th>
                                <th scope="col">Valor Unit.</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            <tr>
                        </thead>
                        <tbody>
                            @{
                                var _cont = 0;
                            }
                            @foreach (var i in Model.ProdutosPedido.ToList())
                            {
                                _cont++;
                                <tr>
                                    <td scope="row">@_cont</td>
                                    <td>@i.Nome</td>
                                    <td>Cor</td>
                                    <td>Tamanho</td>
                                    <td>@i.PrecoVenda?.ToString("N2")</td>
                                    <td>@i.Quantidade</td>
                                    <td>@i.ValorPedido?.ToString("N2")</td>
                                    <td>
                                        Remover
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p><strong>Registro(s): @_numeroRegistros</strong></p>
                }
                else
                {
                    <p>Nenhum item inserido!</p>
                }


                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <form method="Post" action="ConfirmarPedido">

                            @Html.HiddenFor(m => m.Confirmar.PedidoId)

                            <button type="submit" class="btn btn-primary">
                                <i class="far fa-save"></i>
                                Confirmar Pedido                       
                            </button>

                        </form>

                         <form method="Post" action="CancelarPedido">

                            @Html.HiddenFor(m => m.Cancelar.PedidoId)

                            <button type="submit" class="btn btn-warning">
                                    <i class="far fa-times-circle"></i>
                                    Cancelar
                            </button>

                        </form>

                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
</div>

@section Scripts {
    <script>


        $(document).ready(function () {

            $(function () {
                let _maxResults = 20;

                $("#Produto_Nome").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("ObterProdutos", "Caixa")',
                            data: { filtro: request.term, limite: _maxResults },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 3,
                    maxResults: _maxResults,
                    select: function (event, ui) {
                        $("#Produto_Nome").val(ui.item.label);
                        $("#Produto_ProdutoId").val(ui.item.value);
                        return false;
                    }
                });
            });

            $(function () {
                let _maxResults = 20;

                $("#Cliente_Nome").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("ObterClientes", "Caixa")',
                            data: { filtro: request.term, limite: _maxResults },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 3,
                    maxResults: _maxResults,
                    select: function (event, ui) {
                        $("#Cliente_Nome").val(ui.item.label);
                        $("#Cliente_Id").val(ui.item.value);
                        return false;
                    }
                });
            });


        });
    </script>
}
