@model Joao.Ana.Modas.App.Models.ProdutoEstoques.CheckEstoqueViewModel

@{
    ViewData["Title"] = Model?.Titulo;

}

<div class="row text-center">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row mb-3">    

    @if (Model is not null && !string.IsNullOrEmpty(Model.Informacao))
    {
        <div class="col-md-12">
            <div class="row">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @Model.Informacao
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    }

    @if (Model is not null && !string.IsNullOrEmpty(Model.Informacao))
    {
        <div class="col-md-12">
            <div class="row">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @Model.Informacao
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    }

</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">Pesquisar</div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <form method="GET" class="form-inline" asp-action="CheckEstoque">
                        <div class="row g-3 offset-md-6">
                            <div class="col-md-8">
                                <input asp-for="@Model.Filtro" class="form-control" required maxlength="255">
                            </div>
                            <div class="col-md-4  btn-block">
                                <button type="submit" class="btn btn-dark">
                                    <i class="fas fa-search"></i>
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">@ViewData["Title"]</div>
            <div class="card-body">

                @if (Model is not null && Model.ProdutoEstoques.Any())
                {
                    int _numeroRegistros = Model.ProdutoEstoques.Count();
                    <table class="table table-hover">
                        <thead class="table-dark">                      
                            <tr>
                                <th scope="col">Descrição</th>  
                                <th scope="col">Logista</th>
                                <th scope="col">Fornecedor</th>
                                <th scope="col">Cor</th>
                                <th scope="col">Tamanho</th>
                                <th scope="col">Preço</th>                                
                                <th scope="col">Quantidade</th>
                                <th scope="col">Checking</th>
                                <th> </th>
                            <tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model.ProdutoEstoques.ToList())
                            {
                                var _class = string.Empty;
                                if (i.Quantidade < 0)
                                {
                                     _class = "class=table-warning";
                                }
                                else if (i.Quantidade.Equals(i.Check))
                                {
                                    _class = "class=table-info";
                                }

                                <tr @_class>
                                    <td><a asp-controller="Produtos" asp-action="Detalhar" asp-route-guid="@i.ProdutoId">@i.Produto.Nome</a></td>      
                                    <td>@i?.Produto.LogistaAssociado?.Nome</td>
                                    <td>@i?.Produto.Fornecedor?.Nome</td>
                                    <td>@i?.Cor?.Nome</td>
                                    <td>@i?.Tamanho?.Nome</td>
                                    <td>@i?.Produto.PrecoVendaFormatodo</td>
                                    <td>@i?.Quantidade</td>
                                    <td>@i?.Check</td>
                                    <td> 
                                       <a asp-action="Check" asp-controller="ProdutoEstoque" asp-route-guid="@i.Id">Checking</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p><strong>Registro(s): @_numeroRegistros</strong></p>
                }
                else
                {
                    <p>Nenhum produto encontrado!</p>
                }

            </div>
        </div>
    </div>
</div>




